.pp-navigation {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  /* position: relative; */
  /* width: 100%; */
  /* height: 110px; */
  /* background: #679db4; */
  /* box-sizing: border-box;
  border-top: 8px solid #e0d6a5; */
  box-shadow: 0 0 8px;
}
